$white: #ffffff;
$grey: #f0f0f0;
$light-grey: #fbfbfb;
$dark-grey: #5C5E63;
$danger: #E57373;
$info: #90CAF9;
$warning: #FFD54F;
$success: #A5D6A7;
$primary-color: #FF9800;
$secondary-color: #0277bb;

/* MUI overrides */
$mui-primary-color: $primary-color;
$mui-primary-color-dark: #B71C1C;
$mui-primary-color-light: $primary-color;

$mui-accent-color: $secondary-color;
$mui-accent-color-dark: #EF9A9A;
$mui-accent-color-light: $secondary-color;

/* MUI core imports  */
@import "~muicss/lib/sass/normalize-3.0.2";
@import "~muicss/lib/sass/mui/colors";
@import "~muicss/lib/sass/mui/variables";
@import "~muicss/lib/sass/mui/mixins";
@import "~muicss/lib/sass/mui/mixins";
@import "~muicss/lib/sass/mui/helpers";

.content {
  position: absolute;
  padding: 15px;
}

.mui--text-primary {
  color: $primary-color;
}

h1, h2, h3, h4, h5, h6 {
  color: $secondary-color;
}

footer {
  background-color: $dark-grey;
  color: $grey;
  bottom: 0;
  position: absolute;
  width: 100%;
  font-size: small;
}

footer p {
  padding-left: 15px;
}

.page-link a {
  text-decoration: none;
  color: $secondary-color;
}